.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  height: 100vh;
}

.title {
  color: #fff;
  font-size: 3rem;
}

.controles {
  color: #321cf1;
  margin-left: 4rem;
  font-size: 2rem;
}

.contatos {
  flex-direction: column;
  margin-left: 20rem;
  background-color: #625a5a;
  border-radius: 5 ;
}

.headerContatos {
  display: flex;
  flex: 1;
  flex-direction: row;
  padding-bottom: 1rem;

}

.buttons {
  margin-top: 1rem;
  margin-left: 8.5rem;
}

.buttomAdd {
  height: 3.4rem;
  width:  3.4rem;
  align-items: center;
   background-color: #28742d;
   color: #fff;
   border-width: 0.1rem;
   margin-left: 1rem;
   border-radius: 5px;
   font-size: 1.7rem;
   padding-top: 0.3rem;  
}

.buttomEdit {
  height: 3.4rem;
  width:  3.4rem;
  align-items: center;
   background-color: #143371;
   color: #fff;
   border-width: 0.1rem;
   margin-left: 1rem;
   border-radius: 5px;
   font-size: 1.7rem;
   padding-top: 0.3rem;  
}

.buttomRemove {
  height: 3.4rem;
  width:  3.4rem;
  align-items: center;
   background-color: #8e4343;
   color: #fff;
   border-width: 0.1rem;
   margin-left: 1rem;
   border-radius: 5px;
   font-size: 1.7rem;
   padding-top: 0.3rem;  
}

.buttom:hover{
  box-shadow: 1px 2px 9px #0044ff;
}

.pesquisa {
  align-items: center;
  margin-bottom: 1.5rem;
}

.buttomPesquisa {
  background-color: #78787893;
  height: 3.3rem;
  width: 5rem;
  margin-left: 4rem;
   color: #fff;
   font-size: 1.5rem;

   
}
.inputPesquisa {
background-color: #88888893;
height: 3.5rem;
width: 31rem;
border-width: 0.0rem;
   font-size: medium;
   color: #fff;

}
.listaContatos {
  background-color: var(--color-bg-dark);
  padding: 2rem;
}

.listaCatalogo {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.letraCatalogo {
  height: 4rem;
  width: 4rem;
  border-radius: 60px;
  background-color: var(--color-bg-dark);
  border: 1px solid #ba3b3b;
  box-shadow: 1px 2px 5px #ae4b4bbd;
  font-size: 2rem;
  margin-right: 4rem;
  margin-top: 4rem;
  text-align: center;
  padding-top: 0.2rem;
  color: #bbbaba
}